.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 8px; */
  margin-right: 8px;
  border-radius: 4px;
  background-color: #fff;
}

.itemDragging {
  background-color: #f1f1f1;
}

.dragHandle {
  cursor: grab;
  display: flex;
  align-items: center;
}

.symbol {
  margin-right: 8px;
}
